data export-ignore
Dockerfile export-ignore
.dockerignore export-ignore
.gitattributes export-ignore  
.gitignore export-ignore
release.sh export-ignore
test.py export-ignore
report export-ignore
piro2/worddetector_test.py export-ignore
