body {
  color: #000000;
  background: #ffffff;
}

header, footer, nav.nav-content, input[type="search"], thead select {
  display: none;
}

table input, thead tr, table tbody tr, tbody tr:nth-child(even), tbody tr:nth-child(odd), thead tr, tbody tr:hover, tbody tr:hover td {
  background: none;
  background-color: transparent;
}

tbody tr:last-child, td:last-child, th:last-child {
  display: none;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}
